/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
    margin-top: 100px;
}

img{
    height: 450px;
    position: relative; 
    cursor: pointer;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

li{
    list-style-type: none;
    display: inline;
}

li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 5px;
}

ul{
    text-align: right;
    padding: var(--space-sm);
}

/*utility*/

/*header*/
.logo{
    height: 30px;
    padding-left: 270px;
}

.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: #ff6900;
    height: 70px; 
}

.nav-row-left{
    flex-basis: 35%;
    min-height: var(--space-xxl);
    padding: var(--space-sm);
}

.nav-row-middle{
    flex-basis: 40%;
    min-height: var(--space-xxl);
}

.nav-row-rigth{
    flex-basis: 35%;
    min-height: var(--space-xxl);
    text-align: center;
    padding: var(--space-sm);
    color: white;
}

.nav-logos{
    padding-right: 220px;
}

.fa-solid{
    padding: 0 3px;
    cursor: pointer;
}

.fa-regular{
    padding: 0 3px;
    cursor: pointer;
}

a:hover{
    color: lightblue;
}

.fa-regular:hover{
    color: lightblue;
}

.fa-solid:hover{
    color: lightblue;
}

/*main*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.col{ 
    flex-basis: calc(100% / 3 -5px);
}

.card{
    position: relative;
}

.discount-red{
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px 5px;
    top: 80%;
}

.discount-green{
    position: absolute;
    background-color: green;
    color: white;
    padding: 3px 5px;
    top: 80%;
    right: 50%;
}

.right{
    right: 69%;
}

.clothes-save{
    position: absolute;
    padding: 3px 10px;
    background-color: white;
    top: 2%;
    right: 0%;
    font-size: 25px;
    cursor: pointer;
}

.shirt{
    position: absolute;
    top: 0%;
    left: 0%;
}

.card:hover .shirt{
    z-index: -1;
}

.clothes-save:hover{
    color: red;
}

.brands{
    font-size: 13px;
}

.size{
    font-size: 15px;
}

.price{
    color: red;
}

.price-discount{
    text-decoration: line-through;
}

/*footer*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bannerbar{
    background-color: #1a1a1a;
    height: 100px;
    margin-top: 50px; 
}

.banner-row-left{
    flex-basis: 40%;
    min-height: var(--space-xxl);
    padding: var(--space-sm);
    font-size: 13px;
}


.banner-row-rigth{
    flex-basis: 30%;
    min-height: var(--space-xxl);
    padding: var(--space-sm);
    color: white;
    
    
}

.banner-title{
    color: white;
    text-align: left;
    padding-left: 215px;
    margin-bottom: 10px;
}

.banner-list{
    text-align: left;
    padding-left: 210px;
}

.banner-logos-title{
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-logos{
    text-align: center;
}

.fa-brands{
    padding: 0 2px;
}